.wraaper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    & h1 {
        font-size: 42px;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 20px;
        color: var(--blue01A);
    }
}
