@import '~bootstrap/scss/bootstrap';
.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    @include media-breakpoint-down(xl) {
        font-size: 1.2rem;
    }
    font-family: var(--font-family);
    font-weight: 600;
    border-radius: 999px;
    padding: 8px 15px;
    // min-width: 100px;
    cursor: pointer;
    background-color: unset;
    border: 2px solid transparent;
    user-select: none;

    @include media-breakpoint-down(lg) {
        + .wrapper {
            margin-top: 16px;
        }
    }
    &.disable {
        pointer-events: none;
        opacity: 0.8;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.icon {
    display: inline-block;
    width: 24px;
    text-align: center;

    & > svg {
        font-size: 18px;
    }
}

.primary {
    background-color: var(--blue015);
    color: var(--whiteFFF);
    border-color: transparent;

    transition: all 0.2s;

    &:hover {
        color: var(--blue015);
        border-color: var(--blue015);
        background-color: transparent;

        opacity: 0.8;
    }
}

.outline {
    color: var(--blue015);
    border-color: currentColor;
    transition: all 0.2s;

    &:hover {
        color: var(--blue015);
        border-color: currentColor;
        opacity: 0.8;
    }
}

.black {
    color: var(--whiteFFF);
    background-color: var(--black);
    transition: all 0.2s;

    &:hover {
        border-color: var(--black);
        background-color: transparent;
        color: var(--black);
        opacity: 0.8;
    }
}

.outlineGray {
    border-color: currentColor;
    color: #666666;

    &:hover {
        border-color: currentColor;
        opacity: 0.8;
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button size
.small {
    min-width: 88px;
    padding: 4px 6px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
