@import '~bootstrap/scss/bootstrap';
.background {
    border: 1px solid #ccc;
    position: fixed;
    z-index: 9000;
    top: var(--header-height);
    left: 0;
    right: 0;

    background-color: #fff;

    @include media-breakpoint-down(lg) {
        border: unset;
        background-color: var(--blue015);
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);

    @include media-breakpoint-down(lg) {
        color: var(--whiteFFF);
    }
}

.logo {
    display: block;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

// bars
.bars {
    display: none;

    @include media-breakpoint-down(lg) {
        display: block;
    }
    font-size: 32px;
}

.navLinks {
    display: flex;
    flex-shrink: 0;
    @include media-breakpoint-down(lg) {
        display: none;
    }
}
.link {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--black);
    font-weight: 600;
    margin: 0 12px;
    position: relative;
    @include media-breakpoint-down(xl) {
        font-size: 12px;
        margin: 0 6px;
    }
    & > a::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0%;
        height: 3px;
        border-top-right-radius: 1.5px;
        border-bottom-right-radius: 1.5px;
        background-color: transparent;
        transition: all 0.2s linear;
        opacity: 0;
    }
    & > a::after {
        content: '';
        display: block;
        position: absolute;
        right: 50%;
        top: 100%;
        width: 0%;
        height: 3px;
        border-top-left-radius: 1.5px;
        border-bottom-left-radius: 1.5px;
        background-color: transparent;
        transition: all 0.2s linear;
        opacity: 0;
    }

    & > a:hover::after {
        width: 50%;
        background-color: var(--black);
        opacity: 1;
    }
    & > a:hover::before {
        width: 50%;
        background-color: var(--black);
        opacity: 1;
    }
}
.link:first-child {
    @include media-breakpoint-up(xl) {
        margin-left: -12px;
    }
}
.search {
    display: none;
    position: relative;
    width: 100%;
    @include media-breakpoint-down(lg) {
        display: flex;
    }
    @include media-breakpoint-down(md) {
        display: flex;
        width: auto;
    }
}

// action
.actions {
    display: flex;
    flex-shrink: 0;
}
.hideTablet {
    display: flex;
    align-items: center;

    cursor: pointer;
    @include media-breakpoint-down(lg) {
        display: none;
    }
}
.icon {
    font-size: 22px;
    margin-left: 20;
    cursor: pointer;
    @include media-breakpoint-only(lg) {
        margin-left: 12px;
    }
}
.icon-close-search-input {
    font-size: 22px;
    cursor: pointer;
    color: var(--black);
}
.iconCart {
    font-size: 24px;
    margin: 0 25px;
    cursor: pointer;
    @include media-breakpoint-down(xl) {
        margin: 0 18px;
    }
}

// Hover your cart
.yourcart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 310px;
    max-height: 430.8px;
    padding: 24px;
    background-color: var(--whiteFFF);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    border-radius: 5px;
}
.heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    color: var(--black);
}
.total {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: var(--gray8C8);
}
.items {
    margin: 16px 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.nodata {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
    color: var(--gray8C8);

    & > svg {
        font-size: 36px;
    }

    & > h1 {
        color: var(--gray8C8);
        font-weight: 500;
        line-height: 22px;
    }
}
// account
.avata {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #fff;
    cursor: pointer;
    // &:hover + .account {
    //     display: flex;
    // }
}
.account {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    width: 232px;
    background-color: var(--whiteFFF);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: var(--black);
    padding: 28px 0 28px 26px;

    & > a {
        color: var(--black);
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        &:hover {
            opacity: 0.8;
        }
    }
    & + a {
        margin-top: 20px;
    }

    &::after {
        display: block;
        position: absolute;
        z-index: 10000;
        top: -18px;
        right: 0;
        content: '';
        background-color: transparent;
        width: 100%;
        height: 24px;
    }
}

// Cart
.iconCart {
    position: relative;
    z-index: 100;
}
.quantity {
    position: absolute;
    z-index: 101;
    top: 0;
    right: 50%;
    transform: translateX(100%);
    background-color: var(--whiteFFF);
    border: 2px solid var(--black);
    // outline: 2px solid var(--whiteFFF);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(lg) {
        width: 18px;
        height: 18px;
    }

    > span {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: var(--black);
    }
}
// bace
.shrink {
    top: 0;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
