@import '~bootstrap/scss/bootstrap';
.wrapper {
    margin-top: var(--head-height);
}
.heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0px;
    color: var(--black);
    margin: 13px 0;
}
.head {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
.box {
    padding: 37px 57px 40px !important;
    margin-bottom: 58px;
    background-color: var(--whiteF5F);

    & button {
        margin-top: 20px;
    }
}
.head {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: var(--black);
}
.desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: var(--black);
}
.left-foot {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #0156ff;
    display: inline;
    margin-left: 23px;
    margin-bottom: 0;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    @include media-breakpoint-down(lg) {
        font-size: 12px;
        margin-left: 5px;
    }
}
.orther-login {
    margin-top: 12px;
}
.head-orther-login {
    display: flex;
    align-items: center;

    & > div:nth-child(2) {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
        color: var(--black);
        padding: 0 12px;

        @include media-breakpoint-down(lg) {
            font-size: 16px;
            padding: 0 10px;
        }
    }
}
.line-through {
    flex-grow: 1;
    border-bottom: 2px solid var(--black);
}
.btns {
    display: flex;
    justify-content: space-between;
    & > button {
        width: 45%;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    @include media-breakpoint-down(lg) {
        display: block;
    }
}
.desc-list {
    padding-left: 16px;
    list-style: unset;
    margin-bottom: 30px;

    & > li {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: var(--black);
    }
}
// avata
.avata-heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: var(--black);
    margin: 8px 0;
}
.avatas {
    display: flex;
    justify-content: space-around;

    & > div {
        width: 80px;
        height: 80px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -khtml-border-radius: 50%;
        overflow: hidden;
        position: relative;
    }
}

.avataActive {
    border: 2px solid var(--gray8C8);
    // outline: 2px solid var(--gray8C8);

    // &::after {
    //     position: absolute;
    //     display: block;
    //     content: '';
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     border-radius: 4px solid var(--gray8C8);
    // }
}
