@import '~bootstrap/scss/bootstrap';
.Cart-Head {
    font-size: 32px;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 29px;
    margin: 26px 0 29px;
}
.titles > div > div {
    color: var(--black);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 13px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }
}

.right {
    padding: 30px;
    background-color: var(--blueF5F);
}
.right-head {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: var(--black);
    border-bottom: 1px solid var(--gray8C8);
}
.menu {
    @include media-breakpoint-down(md) {
        & + button {
            width: 100%;
        }
    }
}
.menu > li {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    line-height: 27px;
    color: var(--black);
}
