@import '~bootstrap/scss/bootstrap';
.Cart-Head {
    font-size: 32px;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 29px;
    margin: 26px 0 29px;
}
.titles > div > div {
    color: var(--black);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 13px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }
}

.right {
    padding: 30px;
    background-color: var(--blueF5F);
}
.right-head {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: var(--black);
    border-bottom: 1px solid var(--gray8C8);
}
.menu {
    @include media-breakpoint-down(md) {
        & + button {
            width: 100%;
        }
    }
}
.menu > li {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    line-height: 27px;
    color: var(--black);
}
// Product
.item {
    height: 170px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray8C8);
    color: var(--black);

    @include media-breakpoint-down(lg) {
        height: 125px;
    }
    @include media-breakpoint-down(md) {
        height: unset;
    }

    & + div {
        margin-top: 20px;
    }
}
.img {
    @include media-breakpoint-down(md) {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
}
.name {
    & > span {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: var(--black);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}

.price {
    font-size: 16px;
    color: var(--black);
    font-weight: 600;

    @include media-breakpoint-down(md) {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
}
.qty {
    padding: 2px;
    height: 70px;
    background: #ebebeb;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;

    @include media-breakpoint-down(lg) {
        padding: 5px;
    }
}
.number {
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    padding: 18px 0 9px 0px;
}
.wrap-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: -12px;
    & > svg {
        font-size: 30px;
        color: var(--grayF5F);
        cursor: pointer;
    }
    @include media-breakpoint-down(lg) {
        & > svg {
            font-size: 24px;
        }
        margin-right: -5px;
    }
}
.total {
    font-size: 16px;
    font-weight: 600;

    @include media-breakpoint-down(md) {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
}
.control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    & > svg {
        color: var(--grayF5F);
        font-size: 30px;
    }
    @include media-breakpoint-down(md) {
        flex-direction: row;
        justify-content: space-between;
        & > svg {
            font-size: 30px;
        }
    }
}
