@import '~bootstrap/scss/bootstrap';
.background {
    border: 1px solid #ccc;

    @include media-breakpoint-down(lg) {
        border: unset;
        background-color: var(--blue015);
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;

    @include media-breakpoint-down(lg) {
        color: var(--whiteFFF);
    }
}

.logo {
    display: block;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

// bars
.bars {
    display: none;

    @include media-breakpoint-down(lg) {
        display: block;
    }
    font-size: 32px;
}

.navLinks {
    display: flex;
    flex-shrink: 0;
    @include media-breakpoint-down(lg) {
        display: none;
    }
}
.link {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--black);
    font-weight: 600;
    margin: 0 12px;
    @include media-breakpoint-down(xl) {
        font-size: 12px;
        margin: 0 6px;
    }
}
.link:first-child {
    @include media-breakpoint-up(xl) {
        margin-left: -12px;
    }
}
.search {
    display: none;
    width: 100%;
    height: 38px;
    margin: 0 40px;
    @include media-breakpoint-down(lg) {
        display: flex;
    }
    @include media-breakpoint-down(md) {
        display: flex;
        margin-left: 20px;
        width: auto;
    }
    background-color: rgba(22, 24, 35, 0.06);
    position: relative;
    border: 1px solid transparent;
    border-radius: 92px;
    input {
        flex: 1;
        height: 100%;
        padding-right: 44px;
        color: var(--black);
        caret-color: var(--grayCCC);
        font-size: 1.6rem;
        border-top-right-radius: 46px;
        border-bottom-right-radius: 46px;
        background-color: transparent;
        font-family: var(--font-family);
        @include media-breakpoint-down(sm) {
            width: 100%;
            padding-right: 10px;
        }
        @include media-breakpoint-down(lg) {
            background-color: var(--whiteFFF);
        }
    }

    &:focus-within {
        border-color: var(--grayCCC);
    }
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 100%;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--blue015);

    @include media-breakpoint-down(md) {
        width: 40px;
    }
    @include media-breakpoint-down(lg) {
        background-color: var(--whiteFFF);
    }
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    &:active {
    }
}

// action
.actions {
    display: flex;
    flex-shrink: 0;
}
.hideTablet {
    display: inline-block;
    @include media-breakpoint-down(lg) {
        display: none;
    }
}
.icon {
    font-size: 22px;
    margin: 0 20px;
}

.iconCart {
    font-size: 22px;
    margin: 0 29px;

    @include media-breakpoint-down(lg) {
        margin: 0 18px 0 0;
    }
}

// Hover your cart
.yourcart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 310px;
    height: 430.8px;
    padding: 24px;
    background-color: var(--whiteEBE);
    overflow: hidden;
    border-radius: 5px;
}
.heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    color: var(--black);
}
.total {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: var(--gray8C8);
}
.items {
    margin: 16px 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.no-item {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avata {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #fff;
}
