@import '~bootstrap/scss/bootstrap';
.wrapper {
    padding-left: 50px;
    @include media-breakpoint-down(lg) {
        padding: 0;
    }
}

.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: var(--black);
    padding-bottom: 14px;
    border-bottom: 1.5px solid var(--grayCCC);
}
.sub-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--black);
    padding: 16px 0 8px;
}
.body {
    min-height: 80px;
}
.content {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    color: #666666;
    margin-bottom: 10px;
}
.change-info {
    > span {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: var(--blue015);
        text-decoration: underline;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
        &:nth-child(2) {
            margin: 0 25px;
        }
    }
}
.avatas {
    display: flex;
    justify-content: space-around;

    & > div {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
    }
}
.avataActive {
    border: 2px solid var(--gray8C8);
}
.current-avata {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid var(--black);
    overflow: hidden;
}
.disible-edit {
    user-select: none;
    color: var(--gray8C8) !important;
    text-decoration: line-through !important;
}

// my orders
.nodata {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > svg {
        font-size: 46px;
        color: var(--gray8C8);
    }

    & > h1 {
        color: var(--gray8C8);
        font-weight: 600;
        line-height: 22px;
    }
}
.order {
    margin: 13px 0 21px;
    padding: 22px 21px 26px;
    border: 1px solid #000;

    &-row-header {
        
        & > div {
            font-size: 18px;
            font-weight: 500;
            color: var(--gray8C8);
        }
        & > :first-child {
            font-size: 20px;
            color: #000;
        }
        & > :last-child {
            color: #000;
        }
    }
    &-row-body {
        & > div {
            font-size: 18px;
        }

        &-status {
            display: flex;
            align-items: center;
            
            & > p {
                margin: 0 5px 0;
            }
        }
        &-view {
            color: var(--blue015);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.shipping-status {
    color: #F7B64A;
}
.view {
    justify-content: space-between;
    margin: 0;
    &-col {
        border: 1px solid #000;
        padding: 20px;
        margin-bottom: 22px;
        @include media-breakpoint-up(md) {
            width: 49%
        }
        &-title {
            margin: 0 -20px 20px;
            border-bottom: 1px solid #000;
            padding: 0 20px 24px;
            
            & > h1 {
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                @include media-breakpoint-down(lg) {
                    font-style: 14px;
                }
            }
        }

        &-subtitle {
            font-size: 20px;
            font-weight: 500;
        }

        & > p {
            margin: 0;
        }

        &-summary-content {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #000;
            margin-bottom: 22px;

            &-total {
                border: 0;
                display: flex;
                justify-content: space-between;

                & > p {
                    font-size: 24px;
                }
            }
        }
    }
}
.buttons {
    display: flex;
    justify-content: space-between;
}