.wappter {
    position: fixed;
    top: 0;
    left: 0;
    right: 40%;
    bottom: 0;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform linear 0.2s, opacity linear 0.2s;
    opacity: 0;
    background-color: var(--whiteFFF);
    padding: 0 25px;
}
.isNavTablet-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 2px solid #a9a9a9;
}
.xmark-icon {
    font-size: 26px;
    color: var(--black);
}
.isNavTablet-body {
    display: flex;
    flex-direction: column;
}
.isLinksTab {
    font-size: 13px;
    line-height: 34px;
    font-weight: 400;
    color: var(--black);
}
.active-nav {
    transform: translateX(0);
    opacity: 1;
}
.overlay {
    opacity: 0;
    transition: opacity linear 0.2s;
}
.active-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
