.wraaper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
        font-size: 36px;
        font-weight: 600;
        line-height: 25px;
    }

    & > p {
        margin: 20px 0;
    }
}
